.class_tasks_widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  height: 90px;
  padding: 10px;
  padding-left: 20px;
  margin: auto;
  margin-top: 6px;
  border-radius: 20px;
}

.class_tasks_widget .div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.class_tasks_widget .div1 .tasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 40px;
}
.class_tasks_widget .div1 .separator {
  height: 100%;
  width: 3px;
  border-radius: 3px;
  opacity: 0.5;
  align-self: stretch;
}
.class_tasks_widget .div2 {
  height: 48px;
  align-self: center;
}