.class_tasks_widget {
  display: flex;
  width: 340px;
  height: 90px;
  margin: auto;
  margin-top: 5px;
  border-radius: 20px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
/* .class_tasks_widget.expanded {
  max-height: 1000px;
} */
.class_tasks_widget .collapsed_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding-right: 10px;
  padding-left: 20px;
  /* margin: auto 0; */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.class_tasks_widget .collapsed_div .div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.class_tasks_widget .collapsed_div .div1 .tasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 40px;
}
.class_tasks_widget .collapsed_div  .div1 .separator {
  height: 70px;
  width: 3px;
  border-radius: 3px;
  opacity: 0.5;
  align-self: stretch;
}
.class_tasks_widget .collapsed_div .div2 {
  height: 48px;
  align-self: center;
}

.class_tasks_widget .expanded_div {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.class_tasks_widget .expanded_div .div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.class_tasks_widget .expanded_div .div1 svg {
  transform: rotate(180deg);
}
.class_tasks_widget .expanded_div .div2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.class_tasks_widget .expanded_div .div2 .attachments {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.class_tasks_widget .expanded_div .div2 .attachments div {
  width: 50px;
  height: 50px;
  background-color: rgb(55, 98, 76);
}
.class_tasks_widget .expanded_div .section_separator {
  margin-top: 20px;
  height: 2px;
  width: 340px;
  transform: translateX(-20px);
  background-color: #DDECF7;
  opacity: 0.6;
}
.class_tasks_widget .expanded_div .div3 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.class_tasks_widget .expanded_div .div3 .task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}