.discover_page {
  z-index: 1;
  position: relative;
  height: 640px;
  width: 360px;
  background-color: #DDECF7;
  overflow-y: scroll;
  scrollbar-width: none;
}

.discover_page.side_menu_open {
  zoom: 0.85;
  margin-left: 305px;
  margin-top: 50px;
  border-radius: 20px;
}
.discover_page::-webkit-scrollbar {
  display: none;
}

.discover_page .heading {
  width: 100%;
  height: 160px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: end;
  margin-top: -71px;
}
.discover_page .filter {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 20px;
  margin-left: 10px;
}
.discover_page .filter div {
  height: 40px;
  padding: 0 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.discover_page .section {
  width: 100%;
  margin-top: 40px;
}
.discover_page .section .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 0 10px;
  margin-bottom: 10px;
}
.discover_page .section .title div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.discover_page .section .carousal_wrapper {
  width: 360px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.discover_page .section .carousal {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.discover_page .section .carousal::before {
  content: "";
}
.discover_page .section .carousal::after {
  content: ".";
  color: rgba(0, 0, 0, 0)
}

.discover_page .section .carousal .carousal_item {
  width: 200px;
  min-width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 5px;
  padding: 10px;
  border-radius: 20px;
}
.discover_page .section .carousal .carousal_item .tags_list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
.discover_page .section .grid_wrapper {
  display: grid;
  grid-template-columns: 165px 165px;
  grid-auto-rows: 100px;
  gap: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 130px;
}

.discover_page .section .grid_wrapper .grid_item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
