.homepage {
  z-index: 1;
  position: relative;
  height: 640px;
  width: 360px;
  background-color: #DDECF7;
  overflow-y: scroll;
  scrollbar-width: none;
}
.homepage.side_menu_open {
  zoom: 0.85;
  margin-left: 305px;
  margin-top: 50px;
  border-radius: 20px;
}
.homepage::-webkit-scrollbar {
  display: none;
}

div#menu_cover {
  position: fixed;
  width:360px;
  height: 0px;
  /* background-color: red;
  opacity: 0.3; */
  border-radius: 20px;
  z-index: 2;
}