.modal {
  pointer-events: none;
  width: 360px;
  height: 640px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.25);
  /* overflow: hidden; */
  z-index: 2;
}
.modal .container {
  pointer-events: all;
  width: 100%;
  height: 640px;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.25);
}
.modal .container.transition {
  transition: top 0.2s ease-out;
}
.modal .container.open {
  top: 0px;
}
.modal .container.partial {
  top: 500px;
}
.modal .container.closed {
  top: 640px;
}

.modal .container .drag_area {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal .container .scroll_content {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.modal .container .scroll_content.no_scroll {
  overflow: hidden;
}
.modal .container .scroll_content div {
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(127, 255, 212, 0.498);
}