.nav_bar {
  z-index: 1;
  height: 71px;
  width: 360px;
  padding: 15px;
  position: sticky;
  top: 570px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-top: 2px solid #DDECF7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.2s ease-out;
}

.nav_bar .menu_svg {
  cursor: grab;
}