.taskssection {
  width: 340px;
  margin: auto;
  margin-top: 40px;
}

.taskssection .tasks_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.taskssection .tasks_list .task_item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.taskssection .tasks_list .task_item .check_box{
  height: 24px;
}
.taskssection .tasks_list .task_item .details .icons {
  height: 16px;
  opacity: 0.5;
}
