* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  user-select: none;
}

main {
  overflow: hidden;
}

.button_effect_1_dark:hover {
  filter: brightness(97.5%)
}
.button_effect_1_dark:active {
  filter: brightness(95%)
}
.button_effect_1_dark_se:hover {
  filter: brightness(97.5%)
}
.button_effect_1_dark_se:active {
  filter: brightness(95%)
}
.button_effect_1_darker:hover {
  filter: brightness(95%)
}
.button_effect_1_darker:active {
  filter: brightness(90%)
}
.button_effect_1_darker_se:hover {
  filter: brightness(95%)
}
.button_effect_1_darker_se:active {
  filter: brightness(90%)
}
.button_effect_1_light:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.button_effect_1_light:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}
.button_effect_1_light_se:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.button_effect_1_light_se:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}
.button_effect_1_lighter:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}
.button_effect_1_lighter:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}
.button_effect_1_lighter_se:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}
.button_effect_1_lighter_se:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}

.inter-40-regular {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}


h1 {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
h2 {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
h3 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
h4 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;

}
h5 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
h6 {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}

.text-24-medium {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-24-regular {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-20-medium {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-16-regular {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-16-semibold {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-16-medium {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-14-regular {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-14-medium {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-14-semibold {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-14-bold {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-13-semibold {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-12-regular {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-12-medium {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-12-semibold {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-12-bold {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-10-bold {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-10-semibold {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}
.text-10-regular {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  user-select: none;
}



.color-primary {
  color: #00A36C;
}
.bgcolor-primary {
  background-color: #00A36C;
}
.color-accent {
  color: #023047;
}
.color-accent-80 {
  color: #023047cc;
}
.color-accent-50 {
  color: #0230477f;
}
.bgcolor-accent {
  background-color: #023047;
}
.fillcolor-accent {
  fill: #023047
}
.fillcolor-accent-80 {
  fill: #023047cc
}
.color-white0 {
  color: #ffffff;
}
.bgcolor-white0 {
  background-color: #ffffff;
}
.color-white {
  color: #F0F6FB;
}
.bgcolor-white {
  background-color: #F0F6FB;
}
.fillcolor-white {
  fill: #F0F6FB
}
.color-BG {
  color: #DDECF7;
}
.bgcolor-BG {
  background-color: #DDECF7;
}
.color-whiteaccent {
  color: #D8DEE5;
}
.bgcolor-whiteaccent {
  background-color: #D8DEE5;
}


body {
  background-color: #000000;
  /* overflow: hidden; */
}

main {
  margin: auto;
  padding: 0;
  aspect-ratio: 9 / 16;
  max-width: 360px;
  max-height: 640px;
  background-color: white;
}

@media (width <= 750px) {
  main {
    width: 100vw;
  }
}
@media (width > 750px) {
  main {
    height: 100vh;
  }
}